.movieCardContainer{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr 1fr;
place-items: center;
}
.movieCard{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.movieImage{
  width: 250px;
  height: 450px;
}